
header{
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.home-logo{
  display: block;
  margin-left: 10px;
}
.menu-item{
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}
.menu-item:last-child{
  margin-right: 10px;

}
.child{
  color: #707070;
  text-decoration: none;
  font-size: 12px;
}
.top-wrapper{
  position: relative;
}
.image-top{
  display: block;
  margin: 0 0px 0 auto;
  width: 60%;
}
.title{
  position: absolute;
  top: 15%;
  left: 15%;
}

.title1{
  color: #af215c;
  font-size: 50px;
  line-height: 80px;
  margin-bottom: 30px;
  font-family: 'Yatra One', cursive;
}
.subtitle1{
  color: #af215c;
  font-weight: bold;
}
.subtitle2{
  color: rgba(0, 0,0, 0.5);
  line-height: 20px;
  font-size: 10px;
}
.news-wrapper{
  width: 60%;
  margin: 80px 20%;
}
.heading{
  font-size: 10px;
  color: #af215c;
  margin: 10px 0;
  font-family: 'Yatra One', cursive;
}
.news-title{
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  margin-bottom: 20px;
}
.news-line{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}
.news-form{
  border-bottom: 1px solid #ddd;
  padding: 15px 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  text-align: center;
}
.news-form:nth-child(1){
  padding-top: 30px;
}
.news-form:nth-child(5){
  border-bottom: 1px solid #ddd;
}
.news-item-label{
  border-radius: 10px;
  margin: 0 15px;
  text-align: center;
  padding: 1px 8px;
  width: 70px;
  background-color: #af215c;
  color: #fff;
}
.about-wrapper{
  margin-bottom: 50px;
  display: flex;
  background-color: #f3f3f3;
  padding: 20px 0;
}
.container{
  margin: 0 15%;
}
.about{
  text-align: center;
  font-size: 20px;
  color: #af215c;
  margin: 10px 0;
  font-family: 'Yatra One', cursive;
  font-weight: normal;
}
.about-title{
  text-align: center;
  font-weight: bold;
  color: #505050;
  margin-bottom: 20px;
}
.about-image img{
  width: 40%;
  height: 150px;
  float: right;
}
.about-text{
  float: left;
  line-height: 22px;
  color: #707070;
  font-size: 12px;
  width: 40%;
}
.about-text1{
  margin-bottom: 20px;
}
.service-title{
  color: #af215c;
  font-family: 'Yatra One', cursive;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 10px;
}
.service-content{
  margin-bottom: 25px;
}
.grid{
  display: grid;
  grid-template-rows: 150px 150px ;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  color: rgba(255,255,255,0.8);
  margin: 30px 0;
}
.box1{
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #af215c;
}
.text-grid{
  text-align: center;
  top: 120px;
  margin: 10px 0;
  font-weight: bold;
}
.box2{
  grid-column: 2/2;
  grid-row: 1/2;
  background-color: #815563;
}
.box3{
  grid-column: 2/2;
  grid-row: 2/2;
  background-color: #b65d82;
}
.service-image1 img{
  width: 25%;
  height: 25%;
}
.service-image{
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
}
.service-image img{
  width: 90%;
  height: 90%;
  background-position: center;
}
.service-image1{
  width: 100%;
  height: 50%;
  float: left;
  text-align: center;
  margin-top: 10%;
}
.service-image1 img{
  width: 90%;
  height: 90%;
  background-position: center;
}
.text-grid1{

  margin-top: 40px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
  padding: 0 5px;
}
.grid-text{
  line-height: 20px;
  font-size: 12px;
  text-align: left;
  padding: 0 5px;
}
.grid-text1{
  line-height: 20px;
  margin: 0 20 20 20;
  padding: 0 30px;
  float: left;
  text-align: center;
  font-size: 12px;
}
.blog-wrapper{
  width: 100%;
  background-color: #f3f3f3;
  padding: 20px 0;
  margin: 30px auto;

}
.container2{
  display: flex;
  margin: 0 15%;
  justify-content: space-between;
}
.blog-card{
  width: 30%;
  background-color: #fff;
  border:1px solid #fff;
  border-radius: 8px;
}
.blog-title1{
  margin: 50px 15% 10px;
  color: #af215c;
  font-family: 'Yatra One', cursive;
  font-weight: normal;
  font-size: 14px;

}
.blog-subtitle{

  margin: 0 15% 20px;
}
.blog-image{
  position: relative;
  border-radius: 8px;

}
.blog-content{
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 10px;
  padding: 10px;
  background-color: #af215c;
  border-radius: 8px;
}
.blog-image img{
  width: 100%;
  border-radius: 8px 8px 0 0 ;
}
.blog-title{
  padding: 10px;
  line-height: 18px;
  font-size: 12px;
  color: #888;
}
.blog-content-tag{
  color: #aaa;
  display: flex;
  font-size: 8px;
  margin-right: 5px;
}
.blog-content-tag-item{
  padding: 10px;
}
.btn{
  width: 150px;
  padding: 15px 15px;
  text-align: center;
  border: 1px solid #af215c;
  border-radius: 25px;
  color: #af215c;
  margin: 30px auto ;
  background-color: #fff;
}
.table-wrapper{
  width: 70%;
}
.table-container{
  width: 100%;
  margin: 0 25%;
}
.table-company{
  color: #af215c;
  font-family: 'Yatra One', cursive;
  font-weight: normal;
  font-size: 14px;
  margin: 10px 0;
}
.table-title{
  margin-bottom: 10px;
  color: #707070;
  font-weight: bold;
}
table{
  width: 90%;
  margin-bottom: 70px;
}
table th,
table td{
  border: 1px solid #ccc;
  color: #707070;
  font-size: 14px;
  padding: 10px;
}
table th{
  text-align: left;
  background-color: #ddd;
}
.recruit-image img{
  width: 50%;
}
.recruit-image{
  display: flex;
  position: relative;
  margin-bottom: 50px;
}
.recruit-tag{
  position: absolute;
  top: 50%;
  left: 25%;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.interview-tag{
  position: absolute;
  top: 50%;
  left: 75%;
  text-align: center;
  color: #fff;
  transform: translate(-50%,-50%);
  font-weight: bold;
}
.contact-title{
  text-align: center;
  color: #505050;
  font-size: 14px;
}
.line{
  margin: 20px 50%;
  width: 1px;
  height: 30px;
  background-color: #af215c;
}
.contact-btn{
  position: relative;
  width: 150px;
  padding: 15px 15px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #af215c;
  border-radius: 25px;
  color: #eee;
  background: linear-gradient(90deg, #dd5577,#9e2d49);
  margin: 20px auto 80px;
  box-shadow: 0px 5px 3px #86002d;
}
.contact-btn::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  background: url(../img/mailicon.svg);
  width: 20px;
  height: 20px;
  transform: translate(0,-50%);
}
footer{
  width: 100%;
  background-color: #f3f3f3;
}
.footer{
  text-align: center;
  color: #707070;
  font-size: 10px;
  padding: 10px 0;
}